/*style 1st navbar */
.navbar1{

}
.navbar1 h2
{
color: dodgerblue;
float: right;
font-family: 'Courier New', Courier, monospace;
margin-top: 60px;
letter-spacing: 1.5px;

}
/* Style the navigation bar */
.navbar {
    width: 120%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: dodgerblue;
  }
  

  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  #img1{
      margin-top: 10px;
      margin-bottom: 30px;
      height: 400px;
      width: 100%;
      background-color: #555;
  }


.f
{
      background-color: #ddd;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 30px;
      text-align: center;
    
    

  }
  #f1
  {
      color: #555;
  }




  
  .login{
      background-color:#ddd;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 30px;
      text-align: center;
    
    

  }
  #log1{
      color: #555;
  }
  .register{
      background-color:#555;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 30px;
      text-align: center
  }
  #reg1 {
      color: #ddd;
      
  }
  .footer {
    padding: 20px;
    text-align: left;
    background: #ddd;
  }
  .footer h2{
      color: dodgerblue;
  }
  
  